{% extends "base.html" %}
{% load static %}
{% block title %}Restaurant Detail{% endblock %}
{% block content %}

<div class="bg-white">
  <div class="mx-auto py-16 px-4 sm:py-2 sm:px-6 lg:max-w-7xl lg:px-8">
    <!-- Product -->
    <div class="lg:grid lg:grid-rows-1 lg:grid-cols-7 lg:gap-x-8 lg:gap-y-10 xl:gap-x-16">
      <!-- Product image -->
      <div class="lg:row-end-1 lg:col-span-4">
        <div class="aspect-w-4 aspect-h-3 rounded-lg bg-gray-100 overflow-hidden">
          <img src="{{restaurant.get_image.url}}"
            alt="Sample of 30 icons with friendly and fun details in outline, filled, and brand color styles."
            class="object-center object-cover">
        </div>
      </div>

      <!-- Product details -->
      <div class="max-w-2xl mx-auto mt-14 sm:mt-16 lg:max-w-none lg:mt-0 lg:row-end-2 lg:row-span-2 lg:col-span-3">
        <div class="flex flex-col-reverse">
          <div class="mt-4">
            <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">{{restaurant.title}}
              <span>&ThinSpace;<img class="w-4 h-4  text-white-400 inline-block"
                  src="{% static 'images/'|add:restaurant.type|add:'.png' %}" alt=""></span>
            </h1>
            <dl class="text-sm font-medium text-gray-500 mt-10 space-y-6">
              <div class="flex justify-between">
                <dt>Address</dt>
                <dd class="text-gray-900">{{restaurant.address}}</dd>
              </div>
              <div class="flex justify-between">
                <dt>Cost of two</dt>
                <dd class="text-gray-900">${{restaurant.cost_for_two|floatformat}}</dd>
              </div>
              <div class="flex justify-between">
                <dt>Working Hours</dt>
                <dd class="text-gray-900">{{restaurant.open_time }} - {{restaurant.close_time}}</dd>
              </div>
              <div class="flex justify-between">
                <dt>Status</dt>
                <dd class="text-gray-900">{{restaurant.status}}</dd>
              </div>
              <div class="mt-15">
                <p class="font-bold">Cuisines</p>
                <div class="grid grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4 mt-4">
                  {% for cusine in restaurant.cuisines.all %}
                  <p
                    class="group relative border rounded-lg py-3 px-4 flex items-center justify-center text-sm font-medium  hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-2 bg-white shadow-sm text-gray-900 cursor-default">
                    {{cusine.name}}</p>
                  {% endfor %}
                </div>
              </div>
            </dl>
            <section class="overflow-hidden text-gray-700 ">
              <div class="container mx-auto py-3">
                <div class="flex flex-wrap -m-1 md:-m-2">
                  {% for image in restaurant.restaurant_image.all %}
                  <div class="flex flex-wrap w-1/3">
                    <div class="w-full p-1 md:p-2">
                      <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                        src="{{image.image.url}}">
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </section>
            <div class="flex">
              <form action="{% url 'restaurant:bookmark' restaurant.id %}" method="post">
                {% csrf_token %}
                <span class="m-2 relative z-0 inline-flex shadow-sm rounded-md">
                  <button type="submit"
                    class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                    <svg
                      class="-ml-1 mr-2 h-5 w-5 {% if restaurant in request.user.restaurants_bookmarked.all %} text-blue-500 {% else %} text-gray-400 {% endif %}"
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
                    </svg>
                    Bookmark{% if restaurant in request.user.restaurants_bookmarked.all %}ed{% endif %}
                  </button>
                </span>
              </form>
              <form action="{% url 'restaurant:remove_visited' restaurant.id %}" method="post">
                {% csrf_token %}
                <button type="submit"
                  class="m-2 inline-block px-6 py-2.5 bg-red-500 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-red-600 hover:shadow-lg focus:bg-red-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-700 active:shadow-lg transition duration-150 ease-in-out">Remove
                  Visited</button>
              </form>
            </div>

            {% if not user_review %}

            <p class="font-large mt-3">Rate Us</p>
            <div class="flex items-start space-x-4 mt-5">
              <div class="flex-shrink-0">
                <img class="inline-block h-10 w-10 rounded-full" src="{{request.user.profile.photo.url}}" alt="">
              </div>
              <div class="min-w-0 flex-1">
                <form action="{% url 'restaurant:review' restaurant.id %}" class="relative" method="post">
                  <div x-data="{ temp: 2, orig: 0 }" class="flex cursor-pointer text-4xl" @click="orig = temp">
                    <input type="number" :value="orig" class="hidden" name='rating' id="rating" />

                    <template x-for="item in [1,2,3,4,5]">
                      <span @mouseenter="temp = item" @mouseleave="temp = orig" class="text-gray-300"
                        :class="{'text-yellow-300': (temp >= item)}">★</span>
                    </template>
                  </div>

                  <div
                    class="border border-gray-300 rounded-lg shadow-sm overflow-hidden focus-within:border-indigo-500 focus-within:ring-1 focus-within:ring-indigo-500">
                    <label for="review" class="sr-only">Add your Review</label>
                    <textarea rows="3" name="review" id="review"
                      class="block w-full py-3 border-0 resize-none focus:ring-0 sm:text-sm"
                      placeholder="Add your review..."></textarea>
                    <div class="py-2" aria-hidden="true">
                      <div class="py-px">
                        <div class="h-9"></div>
                      </div>
                    </div>
                  </div>
                  {% csrf_token %}
                  <div class="absolute bottom-0 inset-x-0 pl-3 pr-2 py-2 flex justify-end">
                    <div class="flex-shrink-0">
                      <button type="submit"
                        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Post</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            {% endif %}
          </div>

          <div>
            <h3 class="sr-only">Reviews</h3>
            <div x-data="{ temp: {{restaurant.average_rating}}}" class="flex cursor-pointer text-2xl">
              <input type="number" class="hidden" />
              <template x-for="item in [1,2,3,4,5]">
                <span class="text-gray-300 h-5 w-5 flex-shrink-0" :class="{'text-yellow-300 ': (temp >= item)}">★</span>
              </template>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full max-w-2xl mx-auto mt-16 lg:max-w-none lg:mt-0 lg:col-span-4">
        <div x-data="{ tab: 'review' }">
          <div class="border-b border-gray-200">
            <div class="-mb-px flex space-x-8" aria-orientation="horizontal" role="tablist">
              <button @click="tab = 'review'" id="tab-reviews"
                class="border-transparent text-gray-700 hover:text-gray-800 hover:border-gray-300 whitespace-nowrap py-6 border-b-2 font-medium text-sm"
                aria-controls="tab-panel-reviews" role="tab" type="button">Customer Reviews</button>
              <button @click="tab = 'menu'" id="tab-faq"
                class="border-transparent text-gray-700 hover:text-gray-800 hover:border-gray-300 whitespace-nowrap py-6 border-b-2 font-medium text-sm"
                aria-controls="tab-panel-faq" role="tab" type="button">Menu</button>
            </div>
          </div>

          <div id="tab-panel-reviews" class="-mb-10" aria-labelledby="tab-reviews" role="tabpanel" tabindex="0">
            <h3 class="sr-only">Customer Reviews</h3>

            <div x-show="tab === 'review'">

              {% for rating in restaurant.rating_set.all %}
              <div class="flex justify-between border-b border-gray-200">

                <div class="flex text-sm text-gray-500 space-x-4">

                  <div class="flex-none py-3">
                    <img src="{{rating.user.profile.photo.url}}" alt="" class="w-10 h-10 bg-gray-100 rounded-full">
                  </div>
                  <div class="py-3">
                    <h3 class="font-medium text-gray-900">{{rating.user.get_full_name}}</h3>
                    <p><time datetime="2021-07-16">July 16, 2021</time></p>

                    <div x-data="{ temp: {{rating.rating}}}" class="flex cursor-default text-2xl mt-1">
                      <input type="number" class="hidden" />

                      <template x-for="item in [1,2,3,4,5]">
                        <span class="text-gray-300 h-5 w-5 flex-shrink-0"
                          :class="{'text-yellow-300 ': (temp >= item)}">★</span>
                      </template>
                    </div>

                    <div class="mt-4 prose prose-sm max-w-none text-gray-500">
                      <p>{{rating.review}}</p>
                    </div>
                  </div>
                </div>
                {% if rating.id == user_review.id %}
                <div class="m-3">
                  <div x-data="{ 'showModal': false }" @keydown.escape="showModal = false">
                    <!-- Trigger for Modal -->
                    <button type="button" @click="showModal = true">edit</button>

                    <form action="{% url 'restaurant:review_delete' user_review.id %}" method="post"
                      class="inline-block">{% csrf_token %}
                      <button type="submit">delete</button>
                    </form>
                    <!-- Modal -->
                    <div
                      class="fixed inset-0 z-30 flex items-center justify-center overflow-auto bg-black bg-opacity-50"
                      x-show="showModal">
                      <!-- Modal inner -->
                      <div class="px-6 py-2 mx-auto text-left bg-white rounded shadow-lg"
                        @click.away="showModal = false" x-transition:enter="motion-safe:ease-out duration-300"
                        x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100">
                        <!-- Title / Close-->
                        <div class="flex items-center justify-between">
                          <h5 class="mr-3 text-black max-w-none">Edit Review</h5>
                          <button type="button" class="z-50 cursor-pointer" @click="showModal = false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                            </svg>
                          </button>
                        </div>

                        <!-- content -->
                        <div class="flex items-start space-x-4 mt-5">
                          <div class="flex-shrink-0">
                            <img class="inline-block h-10 w-10 rounded-full" src="{{request.user.profile.photo.url}}"
                              alt="">
                          </div>
                          <div class="min-w-0 flex-1">
                            <form action="{% url 'restaurant:review_update' user_review.id %}" class="relative"
                              method="post">
                              <div x-data="{ temp: {{user_review.rating}}, orig: {{user_review.rating}} }"
                                class="flex cursor-pointer text-4xl" @click="orig = temp">
                                <input type="number" :value="orig" class="hidden" name='rating' id="rating" />

                                <template x-for="item in [1,2,3,4,5]">
                                  <span @mouseenter="temp = item" @mouseleave="temp = orig" class="text-gray-300"
                                    :class="{'text-yellow-300': (temp >= item)}">★</span>
                                </template>
                              </div>
                              <div
                                class="border border-gray-300 rounded-lg shadow-sm overflow-hidden focus-within:border-indigo-500 focus-within:ring-1 focus-within:ring-indigo-500">
                                <label for="review" class="sr-only">Add your Review</label>
                                <textarea rows="3" name="review" id="review"
                                  class="block w-full py-3 border-0 resize-none focus:ring-0 sm:text-sm"
                                  placeholder="Add your review...">{{ user_review.review }}</textarea>
                              </div>
                              {% csrf_token %}
                              <div class="absolute bottom-0 inset-x-0 pl-3 pr-2 py-2 flex justify-end">
                                <div class="flex-shrink-0">
                                  <button type="submit"
                                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Post</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
            <div x-show="tab === 'menu'">
              <div id="tab-panel-faq" class="text-sm text-gray-500" aria-labelledby="tab-faq" role="tabpanel"
                tabindex="0">
                <h3 class="sr-only">Menu</h3>
                <dl class="text-sm font-medium text-gray-500 mt-10 space-y-6">
                  <div class="flex justify-between">
                    <dt class="text-gray-900 leading-tight">Dish Name</dt>
                    <dd class="text-gray-900 leading-tight">Price</dd>
                  </div>
                  {% for menu in restaurant.menu_set.all %}
                  {% for dish in menu.dish_set.all %}
                  <div class="flex justify-between">
                    <dt>{{dish.name}}</dt>
                    <dd class="text-gray-900">{{dish.price}}</dd>
                  </div>
                  {% endfor %}
                  {% endfor %}
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
