<div class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
  {% for restaurant in object_list %}

  <div class="relative">
    <a href="{{restaurant.get_absolute_url}}">
      <div class="relative w-full h-72 rounded-lg overflow-hidden">
        <img src="{{restaurant.get_image.url}}"
          alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls."
          class="w-full h-full object-center object-cover">
      </div>
      <div class="relative flex mt-2" style="justify-content: space-between;">
        <h3 class="text-sm font-medium text-gray-900">{{restaurant.title}}</h3>
        <p class="bg-green-600 rounded-lg text-white px-2 inline-flex"><span
            style="margin-top: 1px;">{{restaurant.average_rating}}</span>
          <svg class="w-4 h-4 mt-1 text-white-400" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
            </path>
          </svg>
        </p>
      </div>
      <div class="relative flex" style="justify-content: space-between;">
        <p class="mt-1 text-sm text-gray-500">{{restaurant.address|truncatewords:3}}</p>
        <p class="mt-1 text-sm text-gray-500">{{restaurant.cost_for_two|floatformat}}$ for two</p>
      </div>
    </a>
    <div class="absolute top-0 inset-x-0 h-72 rounded-lg p-1 flex items-end justify-end overflow-hidden">
      <a href="{{restaurant.get_absolute_url}}">
        <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50">
        </div>
      </a>
      {% if page == 'visited' %}
      <form action="{% url 'visited:remove_visited' restaurant.id %}" method="post">
        {% csrf_token %}
        <button class="z-10 relative text-lg font-semibold text-white bottom-60 right-2 bg-red-600 p-0.5 rounded-full"
          type="submit"><span><svg class="w-4 h-4" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"
              width="60px" height="60px">
              <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z" />
            </svg></span></button>
      </form>
      {% endif %}
      {% if page == 'bookmark' %}
      <form action="{% url 'bookmark:bookmark' restaurant.id %}" method="post">
        {% csrf_token %}
        <button type="submit"
          class="bottom-56 relative inline-flex items-center px-2 py-2 rounded-l-md  text-sm font-medium focus:z-10 ">
          <svg
            class="-ml-1  h-16 w-16 {% if restaurant in request.user.restaurants_bookmarked.all %} text-blue-500 {% else %} text-gray-400 {% endif %}"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
          </svg>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
