{% load restaurant_tags %}
{% load static %}
<div class="max-w-2xl mx-auto mt-14 sm:mt-16 lg:max-w-none lg:mt-0 lg:row-end-2 lg:row-span-2 lg:col-span-3">
    <div class="flex flex-col-reverse">
      <div class="mt-4">
        <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">{{restaurant.title}}
          <span>&ThinSpace;<img class="w-4 h-4  text-white-400 inline-block"
              src="{% static 'images/'|add:restaurant.type|add:'.png' %}" alt=""></span>
        </h1>
        <dl class="text-sm font-medium text-gray-500 mt-10 space-y-6">
          <div class="flex justify-between">
            <dt>Address</dt>
            <dd class="text-gray-900">{{restaurant.address}}</dd>
          </div>
          <div class="flex justify-between">
            <dt>Cost of two</dt>
            <dd class="text-gray-900">${{restaurant.cost_for_two|floatformat}}</dd>
          </div>
          <div class="flex justify-between">
            <dt>Working Hours</dt>
            <dd class="text-gray-900">{{restaurant.open_time }} - {{restaurant.close_time}}</dd>
          </div>
          <div class="flex justify-between">
            <dt>Status</dt>
            <dd class="text-gray-900">{{restaurant.status}}</dd>
          </div>
          <div class="mt-15">
            <p class="font-bold">Cuisines</p>
            <div class="grid grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4 mt-4">
              {% for cusine in restaurant.cuisines.all %}
              <p
                class="group relative border rounded-lg py-3 px-4 flex items-center justify-center text-sm font-medium  hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-2 bg-white shadow-sm text-gray-900 cursor-default">
                {{cusine.name}}</p>
              {% endfor %}
            </div>
          </div>
        </dl>
        <section class="overflow-hidden text-gray-700 ">
          <div class="container mx-auto py-3">
            <div class="flex flex-wrap -m-1 md:-m-2">
              {% for image in restaurant.restaurant_image.all %}
              <div class="flex flex-wrap w-1/3">
                <div class="w-full p-1 md:p-2">
                  <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                    src="{{image.image.url}}">
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
        <div class="flex">
          <form action="{% url 'bookmark:bookmark' restaurant.id %}" method="post">
            {% csrf_token %}
            <span class="m-2 relative z-0 inline-flex shadow-sm rounded-md">
              <button type="submit"
                class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                <svg
                  class="-ml-1 mr-2 h-5 w-5 {% if restaurant in request.user.restaurants_bookmarked.all %} text-blue-500 {% else %} text-gray-400 {% endif %}"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
                </svg>
                Bookmark{% if restaurant in request.user.restaurants_bookmarked.all %}ed{% endif %}
              </button>
            </span>
          </form>
        </div>

        {% user_review_exist request restaurant as test %}
        {% if  not test %}

        <p class="font-large mt-3">Rate Us</p>
        <div class="flex items-start space-x-4 mt-5">
          <div class="flex-shrink-0">
            <img class="inline-block h-10 w-10 rounded-full" src="{{request.user.profile.photo.url}}" alt="">
          </div>
          <div class="min-w-0 flex-1">
            <form action="{% url 'restaurant:review' restaurant.id %}" class="relative" method="post">
              <div x-data="{ temp: 2, orig: 0 }" class="flex cursor-pointer text-4xl" @click="orig = temp">
                <input type="number" :value="orig" class="hidden" name='rating' id="rating" />

                <template x-for="item in [1,2,3,4,5]">
                  <span @mouseenter="temp = item" @mouseleave="temp = orig" class="text-gray-300"
                    :class="{'text-yellow-300': (temp >= item)}">★</span>
                </template>
              </div>

              <div
                class="border border-gray-300 rounded-lg shadow-sm overflow-hidden focus-within:border-indigo-500 focus-within:ring-1 focus-within:ring-indigo-500">
                <label for="review" class="sr-only">Add your Review</label>
                <textarea rows="3" name="review" id="review"
                  class="block w-full py-3 border-0 resize-none focus:ring-0 sm:text-sm"
                  placeholder="Add your review..."></textarea>
                <div class="py-2" aria-hidden="true">
                  <div class="py-px">
                    <div class="h-9"></div>
                  </div>
                </div>
              </div>
              {% csrf_token %}
              <div class="absolute bottom-0 inset-x-0 pl-3 pr-2 py-2 flex justify-end">
                <div class="flex-shrink-0">
                  <button type="submit"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        {% endif %}
      </div>

      <div>
        <h3 class="sr-only">Reviews</h3>
        <div x-data="{ temp: {{restaurant.average_rating}}}" class="flex cursor-pointer text-2xl">
          <input type="number" class="hidden" />
          <template x-for="item in [1,2,3,4,5]">
            <span class="text-gray-300 h-5 w-5 flex-shrink-0" :class="{'text-yellow-300 ': (temp >= item)}">★</span>
          </template>
        </div>
      </div>
    </div>
  </div>
